:root {
    --blue: #01266c;
    --gold: #f7c505;
    --yellow: #fbdc74;
    --skyblue: #0071fb;
    --black: #1a1a1a;
}

body {
    background-color: var(--black);
    background: linear-gradient(90deg, var(--black) 20px, transparent 1%) 50%, linear-gradient(var(--black) 20px, transparent 1%) 50%, #222;
    background-size: 22px 22px;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Barlow Semi Condensed', sans-serif;
    overflow-x: hidden;
}

#con {
    height: 25000px;
}


/* 
    GLOBAL STYLES
 */

.section {
    /* test position */
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ring {
    background-color: transparent;
    mix-blend-mode: difference;
    position: absolute;
}


/* 
    FRIST SECTION
 */

.section--intro {
    position: relative;
    justify-content: center;
}

.hero__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center 15%;
    object-position: center 15%;
}

.cross_ٍreact_right {
    enable-background: new 0 0 600 600;
    width: 180px;
    height: 180px;
    left: 10%;
    bottom: 15%;
    position: absolute;
    background-blend-mode: multiply;
    mix-blend-mode: difference;
}

.cross_ٍreact_left {
    width: 90px;
    height: 90px;
    right: 200px;
    top: 200px;
    position: absolute;
    mix-blend-mode: difference;
}

.js__ring__left {
    width: 150px;
    height: 150px;
    left: 0%;
    /* top: -100px; */
}

.js__ring__right {
    right: 100px;
    bottom: 70px;
    width: 100px;
    height: 100px;
}

.hero__title {
    letter-spacing: -0.0125em;
    font-weight: 600;
    font-size: 50px;
    white-space: nowrap;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 1;
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
    margin: 0;
    /* margin-top: 2rem; */
}

.hero__title--2 {
    color: var(--yellow);
    -webkit-text-stroke: 1px white;
    margin-top: 0;
    /* margin-bottom: 1.5rem; */
    mix-blend-mode: difference;
}

.hero__copy {
    margin: 0;
    font-size: 1.85vw;
    font-weight: 300;
    opacity: 0.75;
    overflow: hidden;
}

.hero__copy span {
    display: inline-block;
}


/* 
    about css style
 */

.skill_sections {
    overflow: hidden;
}

.wrapper.text {
    display: flex;
    align-items: flex-start;
    mix-blend-mode: difference;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    line-height: 1.5;
    /* margin-left: 20px !important; */
    justify-content: center;
}

.wrapper.Skill {
    display: flex;
    flex-direction: row;
}

.wrapper.Skill li {
    list-style: none;
}

.skill_sections {
    overflow: hidden;
}

.skillCard {
    width: 200px;
    height: 200px;
    border-radius: 15%;
    margin-left: 10px;
}


/* 

    about css style
*/

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
    mix-blend-mode: difference;
    font-size: 1rem;
    /* font-weight: 300; */
    text-align: left;
    line-height: 1.5;
    width: 40%;
}

.section--text {
    position: relative;
    width: 100%;
}


/* 
media query
 */

@media screen and (max-width: 770px) {
    .cross_ٍreact_right {
        left: 0;
        width: 100px;
    }
    .cross_ٍreact_left {
        right: 0;
        width: 100px;
    }
    .js__ring__left {
        width: 100px;
        height: 100px;
        left: 0%;
        /* top: -100px; */
    }
    .js__ring__right {
        right: 0;
        bottom: 0;
        width: 100px;
        height: 100px;
    }
    .hero__title {
        font-weight: 500;
        font-size: 40px;
    }
    .hero__title {
        letter-spacing: -0.0125em;
        font-weight: 600;
        font-size: 20px;
        white-space: nowrap;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 1;
        position: relative;
        z-index: 2;
        mix-blend-mode: difference;
        margin: 0;
    }
    .box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 300px;
        mix-blend-mode: difference;
        font-size: 1rem;
        /* font-weight: 300; */
        text-align: left;
        /* line-height: 1.5; */
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .cross_ٍreact_left {
        display: none;
    }
    .js__ring__right {
        display: none;
    }
    .cross_ٍreact_right {
        display: none;
    }
    .js__ring__left {
        display: none;
    }
    .hero__title {
        font-weight: 500;
        font-size: 40px;
    }
    .hero__title {
        letter-spacing: -0.0125em;
        font-weight: 600;
        font-size: 19px;
        white-space: nowrap;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 1;
        position: relative;
        z-index: 2;
        mix-blend-mode: difference;
        margin: 0;
    }
}